@font-face {
    font-family: 'Aire Exterior';
    src: url('../fonts/AireExterior.eot');
    src: url('../fonts/AireExterior.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AireExterior.woff2') format('woff2'),
        url('../fonts/AireExterior.woff') format('woff'),
        url('../fonts/AireExterior.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pulsar - Original';
    src: url('../fonts/PulsarOriginalRegular.eot');
    src: url('../fonts/PulsarOriginalRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PulsarOriginalRegular.woff2') format('woff2'),
        url('../fonts/PulsarOriginalRegular.woff') format('woff'),
        url('../fonts/PulsarOriginalRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


